/* ページ全体のスタイル */
.container {
    /*padding: 20px;*/
    max-width: 100%;
    /*height: 100vh;*/
    /*margin: auto;*/
    display: flex;        /* 子要素を横並びにする */
}



.graph{
    width: 70%;
    padding: 1rem;
    padding-left: 3rem;
}
.linegraph{
    padding: 20px;
}

.tabGroup {
  display: flex;
  gap: 0.5rem;
  margin: 1rem;
}

.tab {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 2px solid #ccc;
  background: #fff;       /* 白背景 */
  color: #777;            /* 灰色文字 */
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s ease;
}

.tab:hover {
  background: #f5f5f5;   /* ホバー時ちょっと濃いグレー */
}

.tab.active {
  background: #ffd700;   /* 黄色 */
  border-color: #e6b800; /* ゴールド系境界線 */
  color: #333;           /* 黒文字でくっきり */
  font-weight: bold;
}


.engraphContainer{
    padding: 20px;
}
.engraphWrapper{
    display: flex;
    justify-content: center;
    gap: 20%;
}

.totalEngrapf{
    
    text-align: center; /* 横方向の中央ぞろえ */
}

.selectEngraph{
    
    text-align: center; /* 横方向の中央ぞろえ */
}

.list{
    
    width: 30%;
    padding: 1rem;
}

.backButton {
  position: fixed;       /* 画面に固定 */
  bottom: 1rem;          /* 下から1rem */
  left: 1rem;            /* 左から1rem */
  width: 3rem;           /* 正方形にする */
  height: 3rem;
  border-radius: 50%;    /* 丸くする */
  background-color: #ffd700; /* 黄色 */
  border: none;
  cursor: pointer;
  font-weight: bold;
  display: flex;         /* 中央に矢印を配置するため */
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  transition: background-color 0.2s;
}

.backButton:hover {
  background-color: #ffc700;
}

.shipmentTable {
  width: 100%;
  border-collapse: collapse;
}

.tableHeader {
  background-color: #f2f2f2;
}

.tableHeader th {
  padding: 12px;
  text-align: left;
  border-bottom: 2px solid #ddd;
}
.tableRow {
  border-bottom: 1px solid #eee;
}

.tableRow:nth-child(even) {
  background-color: #fcfcfc;
}

.tableRow td {
  padding: 12px;
  vertical-align: top;
}