/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/components/LeftPullTab.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
/* src/components/LeftPullTab.css */
.leftPullTab {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: #ffcc00;
  padding: 10px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  z-index: 1000;
}

.slideMenu {
  position: fixed;
  top: 0;
  left: -200px;
  width: 200px;
  height: 100vh;
  background-color: #ffee66;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  transition: left 0.3s ease;
  padding: 20px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.slideMenu.open {
  left: 0;
}

.buttonStyle {
  background-color: #ffdd44;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.main {
  transition: margin-left 0.3s ease;
  padding: 20px;
}

.main.shifted {
  margin-left: 200px;
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/web/shipment/page.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
/* ページ全体のスタイル */
.page_container__ZaeqF {
  padding: 20px;
  max-width: 100%;
  margin: auto;
}
/* ヘッダー部分のスタイル */
.page_header___v57d {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  justify-content: flex-start; 
}
.page_createGraph__8zJzY {
  padding: 0.5rem 1rem;
  background-color: #ffd700; /* 黄色で目立たせる例 */
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
}
.page_createGraph__8zJzY:hover {
  background-color: #ffc700;
}

.page_shipmentTable__cLwhT {
  width: 100%;
  border-collapse: collapse;
}

.page_tableHeader__u4ghy {
  background-color: #f2f2f2;
}

.page_tableHeader__u4ghy th {
  padding: 12px;
  text-align: left;
  border-bottom: 2px solid #ddd;
}

.page_tableRow__3Zc8W {
  border-bottom: 1px solid #eee;
}

.page_tableRow__3Zc8W:nth-child(even) {
  background-color: #fcfcfc;
}

.page_tableRow__3Zc8W td {
  padding: 12px;
  vertical-align: top;
}
